body {
    font-size: 12px !important;
}

p {
    text-indent: 0;
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

.d-header {
    text-indent: 0;
    padding-top: 15px;
    font-weight: bold;
}

.p-header {
    text-indent: 0;
    padding-top: 15px;
    font-weight: bold;
}

.tournament-name {
    color: #231207;
    position: center;
    text-align: center;
    vertical-align: center;
}

@media print {
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin:0;
    }
    html, body {
        width: 210mm;
        /* height: 297mm; */
        height: 282mm;
        font-size: 14px !important;
        background: #FFF;
        overflow:visible;
    }
    body {
        padding-top:15mm;
    }

    .tournament-name {
        padding-top:100mm;
        position: center;
    }

    .d-header:before {
        content: '';
        width: 100%;
        height: 1em;
        display: inline-block;
    }
    .p-header {
        page-break-before: always;
        width: 100%;
        height: 1em;
        display: inline-block;
        font-weight: bold;
    }
    p {
        text-indent: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        display: block;
    }
}