body {
    font-size: 12px !important;
}

p {
    display: block;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    text-indent: 50px !important;
}

.d-header {
    padding-top: 15px;
    font-weight: bold;
}

.p-header {
    padding-top: 15px;
    font-weight: bold;
}

.card {
    padding-bottom: 0;
    margin-bottom: 0 !important;
    border: 0 !important;
    display: block;
}

.tournament-name {
    color: #231207;
    position: center;
    text-align: center;
    vertical-align: center;
}

@media print {
    @page {
        size: A4; /* DIN A4 standard, Europe */
        margin: 0;
    }

    .noprint {
        display: none !important;
    }

    html, body {
        width: 210mm;
        /* height: 297mm; */
        height: 282mm;
        font-size: 14px !important;
        background: #FFF;
        overflow: visible;
    }

    body {
        padding-top: 15mm;
    }

    .tournament-name {
        padding-top: 100mm;
        position: center;
        font-weight: bold;
    }

    .d-header:before {
        content: '';
        width: 100%;
        height: 1em;
        display: inline-block;
    }

    .card:before {
        content: '';
        width: 100%;
        height: 1em;
        display: inline-block;
    }

    .card {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        border: 0 !important;
        display: block;
    }

    .d-header {
        padding-top: 15px;
        font-weight: bold;
        white-space: pre;
    }

    .p-header {
        page-break-before: always;
        width: 100%;
        height: 1em;
        display: inline-block;
        font-weight: bold;
    }

    p {
        display: block;
        text-indent: 50px !important;
        padding-bottom: 0;
        margin-bottom: 0 !important;

    }
}