@import types.Tournament
@(tournament: Tournament, opponents: List[(Option[(String, Int, String)], Option[(String, Int, String)])], authorized: Boolean)

@main(tournament, "Current round standings", authorized) {
    <div class="container content">
    @if(opponents.nonEmpty) {
        <table class="table table-striped table-hover">
        @for(opponent <- opponents) {
            @if(opponent._1.isDefined) {
                <tr>
                    @if(opponent._1.isDefined) {
                        <td class="text-right">@opponent._1.get._3</td>
                        <td class="text-right font-weight-bold">@opponent._1.get._1</td>
                    } else {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                    <td class="text-center">@{
                        opponent._1.map(_._2).getOrElse("")
                    }-:-@{
                        opponent._2.map(_._2).getOrElse("")
                    }</td>
                    @if(opponent._2.isDefined) {
                        <td class="font-weight-bold">@opponent._2.get._1</td>
                        <td>@opponent._2.get._3</td>
                    } else {
                        <td>Bye</td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        }
        </table>
    } else {
        <div class="alert alert-warning" role="alert">
            There are no active matches at the moment
        </div>
    }
    </div>

}
