@import types.{Deck, Tournament}
@(role: Option[String], tournament:Tournament, players: List[(String, Option[Deck])])

@main(tournament, s"DeckDoc:${tournament.name}", role) {
    <div class="container content">
        <h1 class="tournament-name">@{tournament.name}</h1>
    @for(player <- players) {
        <p style="page-break-before: always">
        @for(deck <- player._2) {
            <div class="deck border-top" deck-url="@{deck.link}">
                <div class="pos-f-t">
                    <nav class="navbar navbar-light bg-light">
                        <div class="row container-fluid">
                            <div class="col-lg-10 justify-content-start">
                                <div class="player-name"  deck-link="@{deck.link}">
                                    <p class="h5 p-header">
        <a target="_blank" href="@routes.Application.playerStats(None, Option(player._1))">@{if(player._1.contains("+")) player._1.substring(0, player._1.indexOf("+"))else player._1}</a> - <p class="p-header deck-name">@{deck.name}</p>
                                    </p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#@{player._1.split("\\+")(0).replace(" ", "_")}" aria-controls="@{player._1.split("\\+")(0).replace(" ", "_")}" aria-expanded="false" aria-label="Show deck">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="collapse" id="@{player._1.split("\\+")(0).replace(" ", "_")}">
                        <div class="bg-light p-4">
                            <p class="d-header">Main Deck:</p>
                            @for(card <- deck.mainDeck) {
                                <p class="card">@{card._2} @{card._1.eternalFormat}</p>
                            }
                            @if(deck.market.nonEmpty) {
                                <p class="d-header"> </p>
                                <p class="d-header">--------------MARKET---------------</p>
                                @for(card <- deck.market) {
                                    <p class="card">@{card._2} @{card._1.eternalFormat}</p>
                                }
                            }
                            @if(deck.sideBoard.nonEmpty) {
                                <p class="d-header"> </p>
                                <p class="d-header">Side board:</p>
                                @for(card <- deck.sideBoard) {
                                    <p class="card">@{card._2} @{card._1.eternalFormat}</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        </p>
        }
    </div>

}
