@import types.Tournament
@(role: Option[String], tournament: Tournament, opponents: Set[(String, String)])

@main(tournament, "ECQ scenes", role) {
    <div class="container content">
    @if(opponents.nonEmpty) {
        <table class="table table-striped table-hover">
            <tr>
                <td>
                    <label>Main cam player:
                    <a id="player1Deck" class="badge badge-dark generate-right noprint" href="#" download>Deck image</a><br>
                        <select id="playerName1">
                        @for(opponent <- opponents) {
                            <option>@{opponent._1} - @{opponent._2}</option>
                        }
                        </select>
                    </label>
                    <br>
                    <input type="text" placeholder="score" id="score1" value="0"><br>

                </td>
                <td>
                    <label>Hand cam player:
                        <a id="player2Deck" class="badge badge-dark generate-right noprint" href="#" download>Deck image</a><br>
                        <select id="playerName2">
                        @for(opponent <- opponents) {
                            <option class="player">@{opponent._1} - @{opponent._2}</option>
                        }
                        </select>
                    </label>
                    <br>
                    <input type="text" placeholder="score" id="score2" value="0">
                </td>
            </tr>
        </table>
       <a id="generate-ecq-panel" class="btn btn-primary btn-lg btn-block" href="#" download>Generate side panel</a>
    } else {
        <div class="alert alert-warning" role="alert">
            There are no players
        </div>
    }
    </div>

}
