@import types.Tournament
@(tournament: Tournament)

@main(tournament, "ETS Tools") {
    <div class="jumbotron">
        <h1 class="display-4"><img src="@routes.Assets.at("images/favicon.png")" width="100" height="100">ETS Tooling</h1>
        <hr class="my-4">
        <p><a href="@routes.Application.invitationalPoints">Invitational points</a></p>
        <p><a href="@routes.Application.seriesPoints">Series points</a></p>
        <p><a href="@routes.Application.communityChampionshipPoints">Community championship points</a></p>
    </div>
}
