@import types.Tournament
@(tournament: Tournament, title: String, authorized: Boolean)(content: Html)

<!DOCTYPE html>

<html>
    @head(title)
    <body>
        <div class="container">
            @if(authorized){
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="@routes.Application.index">
                    <img src="@routes.Assets.at("images/favicon.png")" width="30" height="30" alt="">
                </a>
                    <ul class="navbar-nav mr-auto justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Deck doc
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@routes.Application.generateDeckDoc(tournament.battlefy_id)">
                                    Deck doc view</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@routes.Application.expandedDeckDoc(tournament.battlefy_id)">
                                    Expanded deck doc</a>
                                <a class="dropdown-item" href="@routes.Application.conciseDeckDoc(tournament.battlefy_id)">
                                    Concise deck doc</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Stats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@routes.Application.playersStats">All players</a>
                                <a class="dropdown-item" href="@routes.Application.generateStats">Selected group</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Streaming
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@routes.Application.streaming">Current round</a>
                                <a class="dropdown-item" href="@routes.Application.casters">Casters panel</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@routes.Application.customListOfCards">Custom list of cards</a>
                                <a class="dropdown-item" href="@routes.Application.topCards(tournament.battlefy_id)" download>
                                    Top 10 Cards</a>
                                <a class="dropdown-item" href="@routes.Application.topPlayers(tournament.battlefy_id)" download>
                                    Top 10 Players</a>
                                <a class="dropdown-item" href="@routes.Application.invitationalPointsScene" download>
                                    Invitational points</a>
                                <a class="dropdown-item" href="@routes.Application.communityChampionshipPointsScene" download>
                                    Community championship points</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@routes.Application.invitationalPointsSceneOnlineUpdate" download>
                                    Invitational points [ONLINE]</a>
                                <a class="dropdown-item" href="@routes.Application.communityChampionshipPointsSceneOnlineUpdate" download>
                                    Community championship points [ONLINE]</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@routes.Application.validateDecks(tournament.battlefy_id)">
                                    Validate decks</a>
                                <a class="dropdown-item" href="@routes.Application.checkInPage">Check In</a>
                                <a class="dropdown-item" href="@routes.Application.tournamentImport">Import tournament</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.Application.logout()">
                                Log out
                            </a>
                        </li>
                    </ul>
            </nav>
            } else {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="@routes.Application.index">
                        <img src="@routes.Assets.at("images/favicon.png")" width="30" height="30" alt="">
                    </a>
                    <a class="nav-item" href="@routes.Application.index">
                        Main page
                    </a>
                </nav>
            }
        @content
        </div>
    </body>
</html>
