@(name: String, opponent: Option[String], previousGames: List[(String, String, String)], info: List[(String, String, String, String)], isRookie: Boolean)

@main("Stats") {
    <div class="container">
        <h1>@name
            @if(isRookie) {
                <div class="badge badge-warning">Rookie</div>
            }
        </h1>
        <table class="table-bordered">
            @if(previousGames.isEmpty && opponent.isDefined){
                <div>No games played with <b>@{opponent.get}</b></div>
            } else {
                @for(i <- previousGames) {
                    <tr>
                        <td class="active font-weight-bold p-1 m-1">@i._1</td>
                        <td class="p-1 m-1">
                        @for(s <- i._2.split("\\n")) {
                                @s
                        }
                        </td>
                        <td class="p-1 m-1">
                        @for(s <- i._3.split("\\n")) {
                                @s
                        }
                        </td>
                    </tr>
                }
            }
        </table>
        <table class="table-bordered">
            <tr>
                <th>-</th>
                <th>This season</th>
                <th>This year</th>
                <th>All seasons</th>
            </tr>
            @for(i <- info) {
                <tr>
                    <td class="active font-weight-bold p-1 m-1">@i._1</td>
                    <td class="p-1 m-1">
                    @for(s <- i._2.split("\\n")) {
                        <div>@if(i._1 != "Decks played:") {
                            @s
                        } else {
                            <a href="@s">@s</a>
                        }</div>
                    }
                    </td>
                    <td class="p-1 m-1">
                    @for(s <- i._3.split("\\n")) {
                        <div>@if(i._1 != "Decks played:") {
                            @s
                        } else {
                            <a href="@s">@s</a>
                        }</div>
                    }
                    <td class="p-1 m-1">
                    @for(s <- i._4.split("\\n")) {
                        <div>@if(i._1 != "Decks played:") {
                            @s
                        } else {
                            <a href="@s">@s</a>
                        }</div>
                    }
                    </td>
                </tr>
            }
        </table>
    </div>
}
