@(tournament: (String, List[String]))

    @main("Generate a match") {
        <div class="container">
            <form>
                <label>@tournament._1</label>
                <div class="form-group">
                    <label for="currentScorePlayer1">Match</label>
                    <select class="form-control" id="matches">
                    @for(player <- tournament._2) {
                        <option>@player</option>
                    }
                    </select>
                </div>
                <div class="form-group">
                    <label for="currentScorePlayer1">Player#1's score</label>
                    <select class="form-control" id="currentScorePlayer1">
                        <option>-</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="currentScorePlayer2">Player#2's score</label>
                    <select class="form-control" id="currentScorePlayer2">
                        <option>-</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2" id="generateResources">Generate resources</button>
            </form>
        </div>

    }
