@import types.Tournament
@(tournament: Tournament, opponents: List[(Option[String], Option[String])])

@main(tournament, "Current round streaming resources", authorized = true) {
    <div class="container content">
        @if(opponents.nonEmpty){
        <div class="dropdown dropright">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Current matches
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @for(opponent <- opponents) {
                @if(opponent._1.isDefined) {
                    <a class="dropdown-item opponent-link @{
                        if(opponent._2.isEmpty) "disabled"
                    }" href="#">@opponent._1.get -:- @{
                        if(opponent._2.isDefined) opponent._2.get else "Bye"
                    }</a>
                }
            }
            </div>
        </div>
        } else {
            <div class="alert alert-warning" role="alert">
                There are no active matches at the moment
            </div>
        }
    </div>

}
