@import types.Tournament
@(role: Option[String], tournament: Tournament)

@main(tournament, "Tournaments Calendar", role) {
    <div class="jumbotron lead mr-1">
        <h1 class="page-title">Tournament Calendar</h1>
        <p>All weekly events begin at: Noon Eastern / 9 AM Pacific / 5 PM UTC, with registration closing 2 hours beforehand. (For players outside the United States, please check your time zone against Eastern, as Daylight Savings Time can affect these times)</p>
        <p>For scheduling details for other events, please see the page for that event, as details become available.</p>
        <h2>Eternal Tournament Series – 2019 Season One</h2>
        <p>Jan 5 – Season One Weekly 1</p>
        <p>Jan 12 – Season One Weekly 2</p>
        <p>Jan 19 – Season One Weekly 3</p>
        <p>Jan 26 – Season One Weekly 4</p>
        <p>Feb 2 – BREAK WEEK – NO TOURNAMENT</p>
        <p>Feb 9 – Season One Weekly 5</p>
        <p>Feb 16 – Season One Weekly 6</p>
        <p>Feb 23 – Season One Weekly 7</p>
        <p>Mar 2 – Season One Weekly 8</p>
        <p><strong>Mar 8/9 – Season One Invitational</strong></p>
        <h2><strong>Mar 23/24 – 2019 Community Championship<br>
        </strong></h2>
    </div>
}