@import types.Tournament
@(tournament: Tournament)

@main(tournament, "Create a user", authorized = true) {
    <div class="container content">
        <form>
            <div class="form-group">
                <input id="login" placeholder="Login"><br>
            </div>
            <div class="form-group">
                <input id="password" placeholder="Password" type="password"><br>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" id="create-user" href="#">Create</a>
            </div>
            <div class="row">
                <div id="status"></div>
            </div>
        </form>
    </div>

}
