@import types.Tournament
@(tournament: Tournament, players: List[(String, Option[String], Option[String], String)], discordUsers: Seq[String])

    @main(tournament, "Validate decks") {
        <div class="container-fluid content">
           @for(i <- players.indices){
               <div class="row player border-top" id="player_@i">
                   <div class="col-sm eternalName"> @{players(i)._1} </div>
                   <div class="col-6 deckLinkBlock"> <a href="@{players(i)._2}" class="deckLink" target="_blank" style="color: black">@{players(i)._2}</a> </div>
                   <div class="col-sm discordName"> @{players(i)._3} @{
                       if(!discordUsers.contains(players(i)._3.getOrElse("")))
                       <span class="badge badge-pill badge-danger">Not a valid discord name</span><br/>
                       <div style="color: darkred">Your discord nickname submitted for the ETS is {players(i)._3.getOrElse("")}
                        {if(!players(i)._3.getOrElse("").split("#")(0).isEmpty)
                            <div> Please update it to {discordUsers.filter(_.toLowerCase.contains(players(i)._3.getOrElse("").split("#")(0).toLowerCase)).map(n => s""""$n"""").mkString(",")} as the ETS bot will not recognize you.</div>
                        }
                        </div>
                   }
                   </div>
               </div>
           }
        </div>

    }
