@import types.Tournament
@(role: Option[String], tournament: Tournament, players: List[(String, Option[String], Option[String], String)], discordUsers: Seq[String])

    @main(tournament, "Validate decks", role) {
        <div class="container-fluid content">
           @if(players.isEmpty) {
               <div class="alert alert-warning" role="alert">
                   There are no registered players in @{tournament.name} tournament
               </div>
           } else {
               @for(i <- players.indices){
                   <div class="row player border-top" id="player_@i">
                       <div class="index" style="max-width:10px">@{i + 1}</div>
                       <div class="col-sm eternalName"> @{players(i)._1} </div>
                       <div class="col-6 deckLinkBlock"> <a href="@{players(i)._2}" class="deckLink" target="_blank" style="color: black">@{players(i)._2.getOrElse("--")}</a> </div>
                       <div class="col-sm discordName"> @{players(i)._3.getOrElse("--")} @{
                           if(!discordUsers.contains(players(i)._3.getOrElse("")))
                               <span class="badge badge-pill badge-danger">Not a valid discord name</span><br/>
                               <div style="color: darkred">Your discord nickname submitted for the ETS is {players(i)._3.getOrElse("")}
                               {if(!players(i)._3.getOrElse("").split("#")(0).isEmpty)
                                   <div> Please update it to {discordUsers.filter(_.toLowerCase.contains(players(i)._3.getOrElse("").split("#")(0).toLowerCase)).map(n => s""""$n"""").mkString(",")} as the ETS bot will not recognize you.</div>
                               }
                               </div>
                       }
                       </div>
                   </div>
               }
           }
        </div>

    }
